/dts-v1/;
/plugin/;

/ {
    compatible = "allwinner,sun50i-h616";

    fragment@0 {
	target-path = "/soc/spi@5011000";
	__overlay__ {
	    num-cs = <2>;
	    
		/* PH9 PC10 */
		cs-gpios = <&pio 2 10 0>,
			<&pio 7 9 0>;
	    status = "okay";
	    #address-cells = <1>;
	    #size-cells = <0>;

	    st7796: st7796s@0{
		compatible = "sitronix,st7796s";
		reg = <0>;
		spi-max-frequency = <10000000>;
		fps = <30>;
		buswidth = <8>;
		reset-gpios = <&pio 2 6 1>;  /* PC6 */
		dc-gpios = <&pio 2 5 0>;     /* PC5 */
		rotate = <270>;
		debug = <1>;
	    };
	};
    };

    fragment@1 {
	target-path = "/soc/spi@5011000";
    __overlay__ {
	#address-cells = <1>;
        #size-cells = <0>;
	status = "okay";
	ads7846@0 {
	    compatible = "ti,ads7846";
	    reg = <1>;
	    status = "okay";
	    spi-max-frequency = <1000000>;
	    interrupts = <2 8 2>; /* high-to-low edge triggered */
            interrupt-parent = <&pio>;   /* PC8 */
	    pendown-gpio = <&pio 2 8 1>;	    

	    /* driver defaults, optional */

           ti,keep-vref-on = <1>;
           ti,x-min = /bits/ 16 <00>;
           ti,x-max = /bits/ 16 <0xFFF>;
           ti,y-min = /bits/ 16 <00>;
           ti,y-max = /bits/ 16 <0xFFF>;
           ti,x-plate-ohms = /bits/ 16 <60>;
           ti,pressure-max = /bits/ 16 <255>;
            ti,swap-xy = <0>;	};
    };
    };


};
